# Copia este archivo como .env.local y completa los valores

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# ID del restaurante
NEXT_PUBLIC_RESTAURANTE_ID=lynkfood

# Contraseñas de acceso (solo servidor)
ADMIN_PASSWORD=
KITCHEN_PASSWORD=
